<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <!-- <app-cart-summary></app-cart-summary> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <!-- Kullanıcı giriş yapmışsa bu kısmı göster -->
      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Kullanıcı Bilgileri
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#">Profilim</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"  routerLink="/profil-düzenle">Profili Düzenle</a></li>

            <li><a class="dropdown-item" (click)="logout()">Çıkış Yap</a></li>
          </ul>
        </div>
      </ng-container>

      <!-- Kullanıcı giriş yapmamışsa bu kısmı göster -->
      <ng-template #loggedOut>
        <a class="btn btn-primary me-2" routerLink="/login">Giriş Yap</a>
        <a class="btn btn-secondary" routerLink="/register">Kayıt Ol</a>
      </ng-template>
    </div>
  </div>
</nav>
